@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@font-face {
  font-family: 'SquidFont';
  src: url("../GameOfSquids.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
  background: #037a76;
  font-family: 'Major Mono Display', monospace;
}

.content {
  padding: 20px;
}

.content .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.content ul {
  list-style-type: none;
  padding: 0;
}

.content ul li {
  margin: 10px 0;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content ul li span {
  font-size: 1.3em;
}

.content ul li span.duration {
  font-size: 1em;
}

.content h1 {
  text-align: center;
  margin-top: 0;
}

.content h1 span {
  font-family: 'SquidFont', sans-serif;
  font-size: 2em;
}

.content .down-arrow {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.content .down-arrow .arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.content .down-arrow .arrows path {
  stroke: #ed1b76;
  fill: transparent;
  stroke-width: 2px;
  -webkit-animation: arrow 2s infinite;
          animation: arrow 2s infinite;
}

.content .down-arrow .arrows path.a1 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.content .down-arrow .arrows path.a2 {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.content .down-arrow .arrows path.a3 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.initial-overlay {
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-animation: zIndex 1ms 2.8s forwards;
          animation: zIndex 1ms 2.8s forwards;
}

.initial-overlay > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.initial-overlay .circle {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-animation: slideUp 2s 1.2s forwards;
          animation: slideUp 2s 1.2s forwards;
  background: #b39166;
  margin-left: -1px;
  margin-right: -1px;
  padding: 3px;
}

.initial-overlay .circle .outer-c {
  width: 200px;
  height: 200px;
  background: #100f0f;
  border-radius: 100%;
  position: relative;
}

@media (max-width: 767px) {
  .initial-overlay .circle .outer-c {
    width: 100px;
    height: 100px;
  }
}

.initial-overlay .circle .outer-c .inner-c {
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  background: #b39166;
}

@media (max-width: 767px) {
  .initial-overlay .circle .outer-c .inner-c {
    width: 85px;
    height: 85px;
  }
}

.initial-overlay .triangle {
  background: #b39166;
  -webkit-animation: slideDown 2s 1.6s forwards;
          animation: slideDown 2s 1.6s forwards;
  margin-left: -1px;
  margin-right: -1px;
  padding: 3px;
}

.initial-overlay .triangle .outer-tr {
  width: 0;
  height: 0;
  border-left: 115px solid transparent;
  border-right: 115px solid transparent;
  border-bottom: 200px solid #100f0f;
  position: relative;
}

@media (max-width: 767px) {
  .initial-overlay .triangle .outer-tr {
    border-left: 58px solid transparent;
    border-right: 58px solid transparent;
    border-bottom: 100px solid #100f0f;
  }
}

.initial-overlay .triangle .outer-tr .inner-tr {
  position: absolute;
  top: 25px;
  left: -93px;
  width: 0;
  height: 0;
  border-left: 92px solid transparent;
  border-right: 92px solid transparent;
  border-bottom: 160px solid #b39166;
}

@media (max-width: 767px) {
  .initial-overlay .triangle .outer-tr .inner-tr {
    top: 14px;
    left: -46px;
    border-left: 46px solid transparent;
    border-right: 46px solid transparent;
    border-bottom: 80px solid #b39166;
  }
}

.initial-overlay .square {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 5px;
  background: #b39166;
  margin-left: -1px;
  margin-right: -1px;
  -webkit-animation: slideUp 2s 2s forwards;
          animation: slideUp 2s 2s forwards;
}

.initial-overlay .square .outer-sq {
  width: 200px;
  height: 200px;
  background: #100f0f;
  position: relative;
}

@media (max-width: 767px) {
  .initial-overlay .square .outer-sq {
    width: 100px;
    height: 100px;
  }
}

.initial-overlay .square .outer-sq .inner-sq {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  background: #b39166;
}

@media (max-width: 767px) {
  .initial-overlay .square .outer-sq .inner-sq {
    width: 85px;
    height: 85px;
  }
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}

@keyframes slideUp {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}

@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(101%);
            transform: translateY(101%);
  }
}

@keyframes slideDown {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(101%);
            transform: translateY(101%);
  }
}

@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@keyframes slideRight {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
}

@keyframes slideLeft {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
}

@-webkit-keyframes upAndDown {
  0% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(5%) rotate(45deg);
            transform: translateY(5%) rotate(45deg);
  }
}

@keyframes upAndDown {
  0% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(5%) rotate(45deg);
            transform: translateY(5%) rotate(45deg);
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes zIndex {
  from {
    z-index: 100;
  }
  to {
    z-index: -1;
  }
}

@keyframes zIndex {
  from {
    z-index: 100;
  }
  to {
    z-index: -1;
  }
}
/*# sourceMappingURL=style.css.map */