@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@font-face {
  font-family: 'SquidFont';
  src: url("GameOfSquids.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
  background: #037a76;
  font-family: 'Major Mono Display', monospace;
}

.content {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 40px);
}

.content h1 {
  text-align: center;
}

.content h1 span {
  font-family: 'SquidFont', sans-serif;
  font-size: 2em;
}

.initial-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 767px) {
  .initial-overlay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.initial-overlay > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.initial-overlay .circle {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-animation: slideUp 2s 2s forwards;
          animation: slideUp 2s 2s forwards;
  background: #b39166;
}

@media (max-width: 767px) {
  .initial-overlay .circle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-animation: slideLeft 2s 2s forwards;
            animation: slideLeft 2s 2s forwards;
  }
}

.initial-overlay .circle .outer-c {
  width: 200px;
  height: 200px;
  background: #100f0f;
  border-radius: 100%;
  position: relative;
}

.initial-overlay .circle .outer-c .inner-c {
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  background: #b39166;
}

.initial-overlay .triangle {
  background: #b39166;
  -webkit-animation: slideDown 2s 2.5s forwards;
          animation: slideDown 2s 2.5s forwards;
}

@media (max-width: 767px) {
  .initial-overlay .triangle {
    -webkit-animation: slideRight 2s 2.5s forwards;
            animation: slideRight 2s 2.5s forwards;
  }
}

.initial-overlay .triangle .outer-tr {
  width: 0;
  height: 0;
  border-left: 115px solid transparent;
  border-right: 115px solid transparent;
  border-bottom: 200px solid #100f0f;
  position: relative;
}

@media (max-width: 767px) {
  .initial-overlay .triangle .outer-tr {
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 174px solid #100f0f;
  }
}

.initial-overlay .triangle .outer-tr .inner-tr {
  position: absolute;
  top: 25px;
  left: -93px;
  width: 0;
  height: 0;
  border-left: 92px solid transparent;
  border-right: 92px solid transparent;
  border-bottom: 160px solid #b39166;
}

@media (max-width: 767px) {
  .initial-overlay .triangle .outer-tr .inner-tr {
    left: -81px;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 138px solid #b39166;
  }
}

.initial-overlay .square {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 10px;
  background: #b39166;
  -webkit-animation: slideUp 2s 3s forwards;
          animation: slideUp 2s 3s forwards;
}

@media (max-width: 767px) {
  .initial-overlay .square {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
    -webkit-animation: slideLeft 2s 3s forwards;
            animation: slideLeft 2s 3s forwards;
  }
}

.initial-overlay .square .outer-sq {
  width: 200px;
  height: 200px;
  background: #100f0f;
  position: relative;
}

.initial-overlay .square .outer-sq .inner-sq {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  background: #b39166;
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}

@keyframes slideUp {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}

@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(101%);
            transform: translateY(101%);
  }
}

@keyframes slideDown {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(101%);
            transform: translateY(101%);
  }
}

@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@keyframes slideRight {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
}

@keyframes slideLeft {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
  }
}
/*# sourceMappingURL=style-v2.css.map */