body {
  padding: 0;
  margin: 0;
}

.initial-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.initial-overlay > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial-overlay .circle {
  flex: 2;
  justify-content: flex-end;
}

.initial-overlay .square {
  flex: 2;
  justify-content: flex-start;
}

.outer-sq {
  width: 200px;
  height: 200px;
  background: #000;
  position: relative;
}

.inner-sq {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  background: #fff;
}
