@font-face {
  font-family: 'SquidFont';
  src: url('GameOfSquids.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100vw;
  height: 800vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'SquidFont', sans-serif;
}

h1 {
  color: #ed1b76;
  font-size: 6em;
  text-align: center;
}

/* body {
  height: 800vh;
  background: black;
  margin: 0;
} */

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4em;
  }
}
